@if (statusLoading){
<app-loader></app-loader>
}

<div class="mt-4 container">
  <mat-card>
    <mat-card-content>
      <div class="main-container">
        <div>
          <h5 class="mt-2 mb-4">Mon compte</h5>
          <hr />
          <img [src]="userData.photo | filePath" width="100" height="100" />
          @if(userData){
          <h4 class="mt-2 mb-0">{{ userData.nom }} {{ userData.prenom }}</h4>
          <small>{{ userData.email }}</small
          ><br />
          <small
            >{{ userData.role == "STUDENT" ? "ETUDIANT" : "ENSEIGNANT" }} :
            {{ userData.subject.type }}</small
          >
          }
          <hr />
        </div>
      </div>
      <mat-grid-list cols="2" rowHeight="2:1">
        @if(userDataAssignment){
        <mat-grid-tile *ngFor="let item of userDataAssignment">
          <app-assignment-card [dataItem]="item"></app-assignment-card>
        </mat-grid-tile>
        }
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>
