@if (statusLoading){
<app-loader></app-loader>
}

<div class="mt-4 container">
  <mat-card>
    <mat-card-content>
      <div class="main-container">
        <div>
          <h5 class="mt-2 mb-4">Mon compte</h5>
          <hr />
          @if(userData){
          <img [src]="
              userData.photo
                ? (userData.photo | filePath)
                : '/assets/img/profile.png'
            " width="100" height="100" />
          <h4 class="mt-2 mb-0">{{ userData.nom }} {{ userData.prenom }}</h4>
          <small>{{ userData.email }}</small><br />
          <small>
            {{ userData.role == "STUDENT" ? "ETUDIANT" : "ENSEIGNANT : " + userData.subject.type  }}
          </small>
          }
          <hr />
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>