.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.register-card {
  width: 50vw;
}

.register-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

mat-form-field {
  width: 80%;
}

.submit {
  width: 60%;
}