@if (statusLoading){
<app-loader></app-loader>
} @if (ResRequest){
<app-alert [message]="ResRequest"></app-alert>
}

<div class="d-lg-flex half">
  <div
    class="bg order-1 order-md-2 h-100 background"
    style="background-image: url('/assets/img/bg-login.webp')"
  ></div>
  <div class="contents order-2 order-md-1">
    <div class="container h-100">
      <div class="w-100 row-center">
        <div class="w-100 h-100">
          <h3 class="text-center">
            S'inscrire dans <strong>Assignment</strong>
          </h3>
          <p class="text-center">Rendre et corriger vos assignments</p>
          <form class="register-content" ngForm (submit)="onSubmit($event)">
            <mat-stepper headerPosition="top" #stepper>
              <mat-step>
                <ng-template matStepLabel>Identité</ng-template>
                <div class="w-100">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Nom</mat-label>
                    <input
                      type="text"
                      matInput
                      placeholder="Entrer votre nom"
                      [(ngModel)]="nomUser"
                      name="nomUser"
                      required
                    />
                    <mat-error> Veuillez entrer votre nom </mat-error>
                  </mat-form-field>
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Prénom</mat-label>
                    <input
                      type="text"
                      matInput
                      placeholder="Entrer votre prénom"
                      [(ngModel)]="prenomUser"
                      name="prenomUser"
                      required
                    />
                    <mat-error> Veuillez entrer votre prénom </mat-error>
                  </mat-form-field>
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input
                      type="email"
                      matInput
                      placeholder="Entrer votre prénom"
                      [(ngModel)]="emailUser"
                      name="emailUser"
                      required
                    />
                    <mat-error> Veuillez entrer votre email </mat-error>
                  </mat-form-field>
                </div>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>Rôle</ng-template>
                <div class="w-100">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Rôle</mat-label>
                    <mat-select required [(ngModel)]="roleUser" name="roleUser">
                      <mat-option></mat-option>
                      <mat-option value="STUDENT">Étudiant</mat-option>
                      <mat-option value="TEACHER">Professeur</mat-option>
                    </mat-select>
                    <mat-error>Veuillez entrer votre rôle</mat-error>
                  </mat-form-field>
                  <mat-form-field class="w-100" appearance="outline" *ngIf="roleUser === 'TEACHER'">
                    <mat-label>Matière</mat-label>
                    <mat-select [(ngModel)]="subjectUser" name="subjectUser" required>
                      <mat-option *ngFor="let subject of dataSubject" [value]="subject">{{ subject.type }}</mat-option>
                    </mat-select>
                    <mat-error>Veuillez entrer votre matière</mat-error>
                  </mat-form-field>
                </div>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>Mot de passe</ng-template>
                <div class="w-100">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Mot de passe</mat-label>
                    <input
                      type="password"
                      matInput
                      placeholder="Entrer votre prénom"
                      [(ngModel)]="passwordUser"
                      name="passwordUser"
                      required
                    />
                    <mat-error> Veuillez entrer votre mot de passe </mat-error>
                  </mat-form-field>
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Confirmer le mot de passe</mat-label>
                    <input
                      type="password"
                      matInput
                      placeholder="Entrer votre prénom"
                      [(ngModel)]="passwordUser2"
                      name="passwordUser2"
                      required
                    />
                    <mat-error> Veuillez entrer votre mot de passe </mat-error>
                  </mat-form-field>
                </div>
              </mat-step>
            </mat-stepper>
            @if(ResRequest){
            <hr />
            <label
              [ngClass]="{ 'text-danger': ResRequest != 'Utilisateur créé' }"
            >
              {{ ResRequest }}
            </label>
            }
            <button
              class="w-100"
              class="submit"
              mat-raised-button
              color="primary"
            >
              S'inscrire
            </button>
            <div class="d-flex mb-5 align-items-center">
              <span class="ml-auto"
                ><a [routerLink]="['/login']" class="forgot-pass"
                  >Se connecter</a
                ></span
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
