@if (!assignments.length){
<app-loader></app-loader>
}
<div class="main">
  @if(userData){
  <mat-card class="example-card mt-3">
    <mat-card-header>
      <mat-card-subtitle>Espace etudiant</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="header-custom">
        <h2>{{ userData.firstName }} {{ userData.lastName }}</h2>
        <button
          mat-fab
          color="accent"
          aria-label="Ajouter un devoir"
          matTooltip="Ajouter un devoir"
          matTooltipPosition="right"
          (click)="openDialog('50', '50')"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  }

  <div class="search-bar">
    <mat-form-field appearance="outline">
      <mat-label>Rechercher</mat-label>
      <input matInput type="text " [(ngModel)]="searchTerm" name="searchTerm" />
      <button matSuffix (click)="search()">
        <mat-icon class="mat-18">search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="list">
    @for(assignment of assignments;track assignment._id){
    <div class="item">
      <app-assignment-card
        [assignment]="assignment"
        [user]="userData"
        (reload)="reloadAssignments()"
        (click)="viewAssignment(assignment._id, '50', '50')"
      ></app-assignment-card>
    </div>
    }
    <div class="actions">
      <div class="paginator">
        <mat-paginator
          [length]="totalPages"
          [pageSizeOptions]="[12, 24, 48]"
          [pageIndex]="page"
          aria-label="Select page"
          (page)="handlePageEvent($event)"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
