<div class="container">
  <div class="list">
    @for(assignment of assignments;track assignment._id){
    <div class="item">
      <app-assignment-card [assignment]="assignment"></app-assignment-card>
    </div>
    }
  </div>
  <div class="actions">
    <div class="add">
      <button
        mat-fab
        color="accent"
        aria-label="Ajouter un devoir"
        matTooltip="Ajouter un devoir"
        matTooltipPosition="right"
        (click)="openDialog('50', '50')"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="paginator">
      <mat-paginator
        [length]="totalPages"
        [pageSizeOptions]="[12, 24, 48]"
        [pageIndex]="page"
        aria-label="Select page"
        (page)="handlePageEvent($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>
