.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header-custom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header-custom h2 {
  font-weight: 500;
  color: gray;
}

.list {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow: auto;
  padding: 20px 0;
}

.item {
  width: 32%;
}

.actions {
  width: 100%;
  display: flex;
}

.paginator {
  width: 100%;
}

.search-bar {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar mat-form-field {
  flex-direction: row;
  width: 70%;
  margin-bottom: 5px;
}

.search-bar mat-form-field input {
  width: 60%;
}

::ng-deep .search-bar .mat-mdc-form-field-bottom-align {
  display: none !important;
}

.search-bar button {
  all: unset;
  margin-right: 10px;
  cursor: pointer;
}

.search-bar button mat-icon {
  font-size: 30px;
}