@if (statusLoading){
<app-loader></app-loader>
} @if (ResRequest){
<app-alert [message]="ResRequest"></app-alert>
}

<div class="d-lg-flex half">
    <div class="bg order-1 order-md-2 h-100 background" style="background-image: url('/assets/img/bg-login.webp')">
    </div>
    <div class="contents order-2 order-md-1">
        <div class="container h-100">
            <div class="w-100 row-center">
                <div class="w-100 h-100">
                    <h3 class="text-center"><strong>Assignment</strong></h3>
                    <p class="text-center">Réinitialisé votre mot de passe</p>
                    <form class="login-content" #loginForm="ngForm" (ngSubmit)="onSubmit($event)">
                        <div class="form-group first">
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Mot de passe</mat-label>
                                <input type="password" matInput placeholder="Entrer votre prénom"
                                    [(ngModel)]="pass1" name="pass1" required />
                                <mat-error> Veuillez entrer votre mot de passe </mat-error>
                            </mat-form-field>
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Confirmer le mot de passe</mat-label>
                                <input type="password" matInput placeholder="Entrer votre prénom"
                                    [(ngModel)]="pass2" name="pass2" required />
                                <mat-error> Veuillez entrer votre mot de passe </mat-error>
                            </mat-form-field>
                        </div>
                        <button class="w-100" class="submit" mat-raised-button color="primary">
                            Entrer
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>