<h1>Ajout d'un assignment</h1>
<form
  ngForm
  #assignmentForm
  (submit)="onSubmit($event); assignmentForm.reset()"
  class="form"
>
  <mat-form-field appearance="outline">
    <mat-label>Titre du devoir</mat-label>
    <input matInput required [(ngModel)]="newAssignment.title" name="title" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Matière</mat-label>
    <mat-select [(ngModel)]="newAssignment.subject" name="subject">
      @for (subject of subjects; track subject) {
      <mat-option [value]="subject.type">{{ subject.type }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <button
    mat-stroked-button
    color="primary"
    [disabled]="!newAssignment.subject || !newAssignment.title === undefined"
  >
    Ajouter un devoir
  </button>
</form>
