@if (resRequest){
<app-alert [message]="resRequest"></app-alert>
}
<div class="container">
  <mat-card
    [ngStyle]="{ 'border-color': getSubjectColor(assignment.subject.type) }"
  >
    <mat-card-header>
      <mat-card-title class="inline-ellipsis">{{
        assignment.title
      }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>{{ assignment.subject.type }}</mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions class="inline">
      @if(avatarUrl){<img
        class="avatar"
        [matTooltip]="teacher.firstName + ' ' + teacher.lastName"
        [src]="avatarUrl | filePath"
        matTooltipPosition="right"
        alt="Teacher photo"
      />} @if(!assignment.isDone){
      <mat-icon
        [ngStyle]="{ color: '#005cbb' }"
        matTooltip="En attente"
        matTooltipPosition="right"
        >access_time</mat-icon
      >
      }@else{
      <mat-icon
        [ngStyle]="{ color: '#008000' }"
        matTooltip="Rendu"
        matTooltipPosition="right"
        >check_circle</mat-icon
      >
      } @if(user.role === 'STUDENT' && !assignment.isDone){
      <mat-icon
        [ngStyle]="{ color: '#ff000096' }"
        matTooltip="Supprimer"
        matTooltipPosition="right"
        (click)="deleteAssignment($event, assignment)"
        >delete</mat-icon
      >
      }
    </mat-card-actions>
  </mat-card>
</div>
