.container {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

mat-card {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inline-ellipsis {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
