<div class="container">
  @if(assignment){
  <h3>{{ assignment.subject }} - {{ assignment.title }}</h3>
  <mat-divider></mat-divider>
  <div class="owner">
    <div>
      <img [src]="student.photo | filePath" alt="profile" class="profile" />
    </div>
    <div>
      <p>
        <mat-icon inline [ngStyle]="{ color: 'rgba(0, 0, 0, 0.608)' }"
          >account_circle</mat-icon
        >{{ student.firstName }}
        {{ student.lastName }}
      </p>
      <p>
        <mat-icon inline [ngStyle]="{ color: 'rgba(0, 0, 0, 0.608)' }"
          >alternate_email</mat-icon
        >{{ student.email }}
      </p>
      <p>
        <mat-icon inline [ngStyle]="{ color: 'rgba(0, 0, 0, 0.608)' }"
          >date_range</mat-icon
        >Créé le :
        {{ assignment.creationDate | date : "dd/MM/yyyy" }}
      </p>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="state">
    <mat-chip
      [class]="assignment.isDone ? 'done' : 'pending'"
      [ngStyle]="{ color: 'white' }"
      >{{ assignment.isDone ? "Rendu" : "En attente" }}</mat-chip
    >
    <button
      mat-raised-button
      color="primary"
      (click)="onDownloadFile(assignment.file)"
    >
      <mat-icon [ngStyle]="{ color: 'white' }">download</mat-icon> Télécharger
      le devoir
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="eval">
    @if(teacher){
    <div>
      <h5>Note</h5>
      <span class="score">{{ assignment.score }}</span>
    </div>
    <div class="comment">
      <h5>Commentaire</h5>
      <span class="comment">{{ assignment.comment }}</span>
      <mat-divider></mat-divider>
      <div class="author">
        <div>
          <img [src]="teacher.photo | filePath" alt="" />
          <span>{{ teacher.firstName }} {{ teacher.lastName }}</span>
        </div>
        <div>
          <span
            >Corrigé le:
            {{ assignment.validationDate | date : "dd/MM/yyyy" }}</span
          >
        </div>
      </div>
    </div>
    }
  </div>
  }
</div>
