<div class="container">
  @if(assignment){
  <h3>{{ assignment.title }}</h3>
  <div class="owner">
    <div>
      <img [src]="student.photo" alt="profile" />
    </div>
    <div>
      <ul>
        <li>{{ student.firstName }} {{ student.lastName }}</li>
        <li>{{ student.email }}</li>
        <span>Créé le : {{ assignment.creationDate | date : "medium" }}</span>
      </ul>
    </div>
  </div>
  <button
    mat-raised-button
    color="primary"
    (click)="onDownloadFile(assignment.file)"
  >
    <mat-icon>add</mat-icon> Télécharger le devoir
  </button>
  <div class="eval">
    @if(teacher){
    <div>
      <span>{{ assignment.comment }}</span>
      <span>Note: {{ assignment.score }} / 20</span>
    </div>
    <div>
      <img [src]="teacher.photo" alt="" />
      <span>{{ teacher.firstName }} {{ teacher.lastName }}</span>
    </div>
    <div>
      <span>Corrigé le: {{ assignment.validationDate | date : "medium" }}</span>
    </div>
    }
  </div>
  }
</div>
